{
  "MattermostWebhookUrl": "",
  "BotChannelDefault": "",
  "BotNameDefault": "",
  "BotImageDefault": "",
  "RssFeeds": [
    {
      "FeedPretext": "",
      "Url": "",
      "FeedType": ""
    }
  ]
}