{
  "BotCheckIntervalMs": 30000,
  "MattermostWebhookUrl": "https://yourDiscourseServer.com/hooks/8rmw9ho9djdyiradu73zuqi7h",
  "BotChannelDefault": "RSS",
  "BotNameDefault": "Reginald the RSS bot",
  "BotImageDefault": "http://somelink.com/image.png",
  "RssFeeds": [
    {
      "FeedPretext": "Schneier on Security",
      "Url": "https://www.schneier.com/blog/atom.xml",
      "BotChannelOverride": "",
      "BotNameOverride": "Bruce Schneier",
      "BotImageOverride": "https://www.schneier.com/images/bruce-blog3.jpg",
      "IncludeContent": true
    },
    {
      "FeedPretext": "Threat post",
      "Url": "https://threatpost.com/feed/",
      "BotChannelOverride": "",
      "BotNameOverride": "Threat post",
      "BotImageOverride": "https://threatpost.com/wp-content/themes/threatpost/images/site-icon.png",
      "IncludeContent": false
    }
  ],
  "RedditJsonFeeds": [
    {
      "FeedPretext": "New reddit post from search result!",
      "Url": "https://www.reddit.com/search.json?q=Pi-hole+OR+pihole+NOT+subreddit%3Apihole",
      "BotChannelOverride": "Reddit",
      "BotNameOverride": "",
      "BotImageOverride": "https://i.imgur.com/3NtinwD.png"
    },
    {
      "FeedPretext": "New post in /r/pihole!",
      "Url": "https://www.reddit.com/r/pihole/new.json",
      "BotChannelOverride": "Reddit",
      "BotNameOverride": "",
      "BotImageOverride": "https://i.imgur.com/3NtinwD.png"
    },
    {
      "FeedPretext": "/u/youruser has a new inbox message!",
      "Url": "https://www.reddit.com/message/inbox/.json?feed=09809809werwr&user=youruser",
      "BotChannelOverride": "Reddit",
      "BotNameOverride": "",
      "BotImageOverride": "https://i.imgur.com/3NtinwD.png"
    }
  ]
}