{
  "BotCheckIntervalMs": 30000,
  "MattermostWebhookUrl": "https://yourmattermostserver.com/hooks/kjnk4j3wnfkse",
  "BotChannelDefault": "Rss-Feeds",
  "BotNameDefault": "Adam's Marvelous RSS Bot",
  "BotImageDefault": "https://whatever.com/image.jpg",
  "RssFeeds": [
    {
      "FeedPretext": "New post in /r/pihole!",
      "Url": "https://www.reddit.com/r/pihole/new.rss",
      "BotChannelOverride": "",
      "BotNameOverride": "",
      "BotImageOverride": "",
      "FeedType": "RedditPost",
      "LastProcessedItem": "2017-08-01T19:57:39+00:00"
    }
  ]
}